@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("/fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}


body {
  font-family: "PT Sans", "Arial", sans-serif;

  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
  color: #333333;
}

.page-header {
  background-color: inherit;
  color: #000000;
}

.navigation-link {
  color: black;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  text-align: center;
}

.bg-container {
  color: #ffffff;
  background-color: #273947;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.main-banner {
  background-image: url("/images/main_backgrounds/index-background.jpg");
  text-align: center;
}

.filters-container {
  background-image: url("/images/main_backgrounds/filter-bg.jpg");
}

.newsletter-index-page {
  background-image: url("/images/main_backgrounds/subscription-bg.jpg");
  text-align: center;
}

.banner-inscription {
  color: #ffffff;
}

.advantages-list {
  text-align: center;
}

.advantages-title {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 32px;
  line-height: 35px;
  text-transform: uppercase;
}

.main-page-header, .interesting-header, .newsletter-title-index {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.newsletter-title {
  color: #ffffff;
}

.advantage-description {
  text-align: center;
}

.advantages-description, .interesting-description, .newsletter-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  font-weight: 400;
}

.dark-blue-bg {
  background-color: #82B3D3;
  color: #ffffff;
}

.advantages-sublist {
  color: #333333;
}

.light-blue {
  background-color: rgba(131, 179, 211, 0.12);
}

.middle-blue {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantage-header, .subadvantage-header, .newsletter-title {
  text-transform: uppercase;
}

.advantage-header, .subadvantage-header {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.footer-contacts {
  color: black;
  text-align: center;
  font-size: 40px;
  line-height: 40px;
}

.footer-contacts a {
  color: black;
  text-decoration: none;
}

.food {
  background-color: #ffffff;
}

.meow {
  background: rgba(131, 179, 211, 0.12);
}

.main-catalog-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  font-size: 16px;
  line-height: 21px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.control {
  font-size: 18px;
  line-height: 21px;
}

.search-result {
  color: black;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
}

.item-header {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.item-info {
  font-size: 18px;
  line-height: 21px;
}

.item-raiting {
  text-transform: uppercase;
}

.pagination {
  color: white;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

.pagination-item {
  background: #82B3D3;
  border: 1px solid #82B3D3;
  border-radius: 4px;
  text-align: center;
}

.pagination-item a {
  color: white;
  text-decoration: none;
}

.pagination-current-link {
  background-color: #F2F2F2;
  border: none;
}

.pagination-current-link a {
  color: black;
}

.view-text {
  font-size: 18px;
  line-height: 21px;
}

.catalog-view-select {
  font-size: 18px;
  line-height: 21px;
}

.newsletter-field {
  font-size: 18px;
  line-height: 21px;
}

.button {
  color: white;
  text-transform: uppercase;
  border-right: 4px;
  background-color: #756157;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  border: none;
}

.search-button a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  line-height: 36px;
}

.newsletter-button {
  background-color: #82B3D3;
  border-radius: 0 10px 10px 0;
  font-size: 20px;
  line-height: 36px;
}

.button-catalog-search {
  background-color: #82B3D3;
}

.button-cancel {
  font-weight: 400;
  background-color: inherit;
  text-transform: capitalize;
}

.more-details-button a{
  text-decoration: none;
  color: white;
}

.favorite-button {
  background-color: #82B3D3;
}

.favorite-button-selected {
  background-color: #7DB54F;
}

.search-container {
  text-align: center;
}

.newsletter-catalog-page{
  color: black;
  text-align: center;
}
