@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0 auto;
  width: 1280px;
  background-color: #f2f2f2;
}

.page-container {
  flex-grow: 1;
  margin: 0 auto;
  width: 1200px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  align-self: center;
  align-items: center;
}

.page-header {
  background-color: inherit;
  color: #000000;
}

.navigation {
  display: flex;
  padding: 0 70px;
  margin: 0;
  justify-content: space-between;
}

.nav-container {
  display: flex;
}

.navigation-list {
  width: 500px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.navigation-item {
  min-height: 65px;
  min-width: 42px;
  box-sizing: border-box;
}

.navigation-user-item {
  min-height: 65px;
  min-width: 42px;
  box-sizing: border-box;
  position: relative;
}

.active-link {
  position: relative;
}

.active-link::after {
  content: "";
  display: inline-block;
  height: 2px;
  background-color: #756257;
  position: absolute;
  bottom: 0;
  left: 14px;
  right: 14px;
  width: auto;
}

.advantage-number {
  position: relative;
  padding: 0 15px;
}

.advantage-number::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 10px;
  right: 0;
  top: 50%;
  background-color: #ffffff;
}

.advantage-number::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 10px;
  left: 0;
  top: 50%;
  background-color: #ffffff;
}

.advantage-number-other {
  position: relative;
  padding: 0 15px;
}

.advantage-number-other::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 10px;
  right: 0;
  top: 50%;
  background-color: #000000;
}

.advantage-number-other::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 10px;
  left: 0;
  top: 50%;
  background-color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header-button {
  padding: 8px 15px;
  width: 160px;
  margin: 0;
}

.logo-block {
  margin-right: 30px;
}

.logo-link {
  display: block;
  padding: 0;
  margin: 0 0 -70px 0;
  height: 70px;
}

.logo-link:hover {
  opacity: 0.8;
}

.logo-link:active {
  opacity: 0.6;
}

.logo-link:focus {
  outline: 3px solid #82B3D3;
}

.navigation-block {
  display: flex;
}

.navigation-user {
  width: 320px;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
}

.advantage-item-img {
  display: flex;
  align-items: center;
}

.true-city-item {
  width: 400px;
  padding: 92px 85px;
  box-sizing: border-box;
}

.diablo-bridge-item {
  width: 400px;
  padding: 92px 85px;
  box-sizing: border-box;
}

.advantages-sublist {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
  flex-wrap: wrap;
  color: #333333;
}

.advantages-sublist-item {
  width: 400px;
  box-sizing: border-box;
  padding: 81px 85px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-sublist-item:nth-child(even) {
  background-color: #ffffff;
}

.other-item {
  width: 400px;
  box-sizing: border-box;
  padding: 102px 85px;
  align-self: normal;
}

.other-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.other-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.2);
}

.search-container {
  text-align: center;
  padding: 92px 85px;
}

.navigation-link {
  color: #000000;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  text-align: center;
  display: block;
  margin: 0;
  padding: 17px 14px;
  min-width: 42px;
  min-height: 65px;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  border: 3px solid transparent;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.navigation-user-item-favorite {
  padding-right: 20px;
}

.favorite-count {
  border-radius: 50%;
  display: flex;
  position: absolute;
  align-items: center;
  min-width: 20px;
  height: 20px;
  box-sizing: border-box;
  padding: 3px 4px 4px;
  left: 24px;
  top: 15px;
  background-color: #7DB54F;
  color: #ffffff;
  font-size: 10px;
  line-height: 20px;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  letter-spacing: -0.1em;
  justify-content: center;
}

.favorite-count:hover,
.favorite-count:focus {
  background-color: #669b1e;
}

.favorite-count:active {
  background-color: #95bc76;
}

.newsletter-index {
  color: #ffffff;
  background-color: #273947;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../images/main-backgrounds/subscription-bg.jpg");
}

.main-banner {
  background-image: url("../images/main-backgrounds/main-decorate.svg"), url("../images/main-backgrounds/index-background.jpg");
  text-align: center;
  color: #ffffff;
  background-color: #273947;
  background-size: auto, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: center bottom -1px, center center;
  display: block;
  margin: 0 auto 60px auto;
  padding: 50px 80px 80px 80px;
  box-sizing: border-box;
}

.filters-container {
  background-image: url("../images/main-backgrounds/filter-bg.jpg");
  color: #ffffff;
  background-color: #273947;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 35px 70px 60px 60px;
}

.banner-inscription {
  color: #ffffff;
}

.advantages-list {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.advantages-title {
  font-family: "PT Sans", sans-serif;
  font-size: 32px;
  line-height: 35px;
  text-transform: uppercase;
}

.advantages-housing:before {
  content: "";
  display: inline-block;
  background-image: url("../images/advantages-images/housing.svg");
  background-repeat: no-repeat;
  width: 76px;
  height: 72px;
}

.advantages-eating {
  background-size: 75px 70px;
  background-position: center 80px;
}

.advantages-eating:before {
  content: "";
  display: inline-block;
  background-image: url("../images/advantages-images/food.svg");
  background-repeat: no-repeat;
  width: 75px;
  height: 70px;
}

.advantages-souvenir:before {
  content: "";
  display: inline-block;
  background-image: url("../images/advantages-images/souvenir.svg");
  background-repeat: no-repeat;
  width: 72px;
  height: 76px;
}

.advantages-souvenir {
  background-size: 75px 70px;
  background-position: center 80px;
}

.main-page-header {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0 0 31px 0;
  padding: 0;
}

.interesting-header {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.newsletter-section {
  text-align: center;
  padding: 94px 85px;
  box-sizing: border-box;
}

.advantage-description {
  text-align: center;
  margin: 0;
  margin-top: 30px;
}

.advantages-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  font-weight: 400;
  margin: 0 0 90px 0;
}

.item-image {
  object-fit: cover;
  grid-column: 1/-1;
}

.newsletter-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  font-weight: 400;
  margin: 30px 0 0 0;
}

.interesting-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  font-weight: 400;
  margin: 30px 0 0 0;
}

.dark-blue-bg {
  background-color: #82B3D3;
  color: #ffffff;
}

.newsletter-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  text-transform: uppercase;
}

.advantage-header {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin: 0;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.subadvantage-header {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin: 20px 0 30px 0;
  text-transform: uppercase;
}

.subadvantage-description {
  margin: 0;
}

.footer-contacts-address-phone {
  color: #000000;
  text-decoration: none;
  font-size: 40px;
  line-height: 40px;
  padding: 15px 5px;
}

.food {
  background-color: #ffffff;
}

.meow {
  background: rgba(131, 179, 211, 0.12);
}

.main-catalog-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0 0 0 10px;
}

.breadcrumbs {
  font-size: 16px;
  line-height: 21px;
  padding: 0;
  list-style: none;
  display: flex;
  margin-bottom: 10px;
  margin-top: 10px;
}

.breadcrumbs-item {
  margin: 0 5px 0 0;
  display: inline-block;
}

.breadcrumbs-item:last-child {
  margin-right: 0;
}

.breadcrumbs-link {
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus {
  color: #ffffff;
  outline: none;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  position: absolute;
  height: 20px;
  width: 5px;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.breadcrumbs-main-page-icon {
  position: relative;
  top: 1px;
}

.breadcrumbs-main-page-icon {
  fill: #ffffff;
}

.breadcrumbs-main-page-icon:focus {
  fill: #ffffff;
}

.breadcrumbs-main-page-icon:hover {
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-main-page-icon:active {
  fill: rgba(255, 255, 255, 0.6);
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 30px;
  padding: 0;
}

.control {
  font-size: 18px;
  line-height: 21px;
  padding-left: 39px;
}

.control-mark {
  position: absolute;
  left: 0;
  top: 2px;
  border-radius: 4px;
  background-color: #ffffff;
  width: 20px;
  height: 20px;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 4px;
  width: 13px;
  height: 10px;
  content: "";
  background-image: url("../images/check.svg");
  background-repeat: no-repeat;
}

.control-input[type="checkbox"]:hover + .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.control-input[type="checkbox"]:focus + .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.control-input[type="checkbox"]:active + .control-mark {
  background-color: rgba(255, 255, 255, 0.3);
}

.control-input[type="checkbox"]:focus + .control-mark::after {
  content: "";
  height: 18px;
  width: 18px;
  border: 3px solid #83B3D3;
  border-radius: 8px;
  top: -2px;
  left: -2px;
  position: absolute;
}

.control-input[type="radio"]:focus + .control-mark::after {
  content: "";
  height: 12px;
  width: 12px;
  border: 3px solid #83B3D3;
  border-radius: 50%;
  top: -2px;
  left: -2px;
  position: absolute;
}

.control-input[type="radio"]:focus + .control-mark::after {
  content: "";
  height: 18px;
  width: 18px;
  border: 3px solid #83B3D3;
  border-radius: 50%;
  top: -2px;
  left: -2px;
  position: absolute;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}

.search-result {
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  align-self: center;
}

.item-header {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 0;
  grid-column: 1/-1;
}

.gallery-buttons-container {
  display: flex;
}

.item-raiting {
  text-transform: uppercase;
  background-color: #F2F2F2;
  border-radius: 4px;
  width: 140px;
  padding: 9px 15px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.item-stars {
  align-self: center;
}

.item-stars::before {
  content: "";
  display: inline-block;
  background-image: url("../images/hotels/star.svg");
  background-repeat: repeat-x;
  background-position-y: 50%;
  width: 115px;
  height: 17px;
  left: 0;
  right: 0;
}

.stars-4::before {
  width: 90px;
}

.stars-3::before {
  width: 66px;
}

.stars-2::before {
  width: 42px;
}

.item-type {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
}

.item-price {
  font-size: 18px;
  line-height: 21px;
}

.pagination {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 12px;
  background: #82B3D3;
  border: 1px solid #82B3D3;
  border-radius: 4px;
  text-align: center;
  height: 60px;
  min-width: 60px;
  box-sizing: border-box;
}

.pagination-link:hover {
  background-color: #68A2CA;
  border: 1px solid #82B3D3;
}

.pagination-link:focus {
  background-color: #68A2CA;
  border: 1px solid #82B3D3;
  outline: none;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);;
}

.view-text {
  font-size: 18px;
  line-height: 21px;
}

.catalog-view-select {
  font-size: 18px;
  line-height: 21px;
  font-family: "PT Sans", sans-serif;
  padding: 12px 18px;
  width: 160px;
  margin-left: 51px;
  height: 49px;
  background-image: url("../images/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  appearance: none;
  background-size: 12px 8px;
  border: 2px solid #E5E5E5;
  outline: none;
}

.newsletter-field {
  font-size: 18px;
  line-height: 21px;
  font-family: "PT Sans", sans-serif;
  padding: 17.5px 22px;
  background: #F2F2F2;
  border-radius: 10px 0 0 10px;
  border: 2px solid transparent;
  flex-grow: 1;
  outline: none;
  box-sizing: border-box;
}

.newsletter-field:hover {
  border: 2px solid #68A2CA;
}

.newsletter-field:focus {
  border: 2px solid #68A2CA;
}

.newsletter-field:active {
  border: 2px solid #3F5E72;
}

.newsletter-field:disabled {
  border: 2px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}

.button {
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #756157;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  border: none;
  appearance: none;
  font-family: "PT Sans", sans-serif;
  cursor: pointer;
  outline: none;
}

.search-button-link {
  text-decoration: none;
  font-size: 20px;
  line-height: 36px;
  padding: 12px 15px;
  display: block;
  max-width: 574px;
  margin: 56px auto 0 auto;
  box-sizing: border-box;
}

.newsletter-button {
  background-color: #82B3D3;
  border-radius: 0 10px 10px 0;
  font-size: 20px;
  line-height: 36px;
  min-width: 200px;
  padding: 12px 15px;
}

.button-catalog-search {
  background-color: #82B3D3;
  width: 160px;
  height: 48px;
  padding: 14px 15px;
  box-sizing: border-box;
}

.button-cancel {
  font-weight: 400;
  background-color: inherit;
  text-transform: capitalize;
  width: 160px;
  height: 40px;
  padding: 10px 12px;
  box-sizing: border-box;
  margin-top: 12px;
  display: flex;
  justify-content: center;
  align-items: end;
  border: 3px solid transparent;
}

.button-cancel:hover {
  opacity: 0.6;
}

.button-cancel:focus {
  border: 3px solid #83B3D3;
}

.button-cancel:active {
  opacity: 0.3;
}

.favorite-button {
  background-color: #82B3D3;
  text-decoration: none;
  color: #ffffff;
  display: block;
  width: 140px;
  padding: 9px 15px;
  box-sizing: border-box;
}

.favorite-button-selected {
  background-color: #7DB54F;
  text-decoration: none;
  color: #ffffff;
  display: block;
  width: 140px;
  padding: 9px 15px;
  box-sizing: border-box;
}

.min-price {
  font-family: "PT Sans", sans-serif;
}

.max-price {
  font-family: "PT Sans", sans-serif;
}

.more-details-button {
  text-decoration: none;
  color: #ffffff;
  display: block;
  width: 140px;
  padding: 9px 15px;
  box-sizing: border-box;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  padding: 45px 70px 35px 68px;
  align-items: center;
  margin-top: auto;
}

.footer-contacts {
  width: 341px;
  color: #000000;
  text-align: center;
}

.footer-social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 280px;
  flex-wrap: wrap;
}

.footer-developer {
  width: 280px;
  text-align: end;
}

.footer-social-item {
  min-height: 17px;
  min-width: 18px;
}

/*.footer-social-item:not(:last-child) {*/
/*  margin-right: 27px;*/
/*}*/

.social-button {
  padding: 12px;
  box-sizing: border-box;
}

.footer-social-item:last-child .social-button {
  margin-right: 0;
}

.catalog-filter {
  display: flex;
  margin-top: 40px;
  flex-wrap: wrap;
  margin-left: 10px;
}

.catalog-filter-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.gallery-container {
  list-style: none;
  margin: 0;
  padding: 0 0 66px 0;
  display: grid;
  border-bottom: 1px #E6E6E6 solid;
  grid-template-columns: repeat(3, 340px);
  column-gap: 18px;
}

.gallery-item {
  padding: 20px;
  width: 340px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 16px;
  column-gap: 20px;
  grid-template-rows: 211px 1fr min-content 37px 37px;
}

.catalog-container {
  padding: 55px 72px 25px 72px;
}

.gallery-heading-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 56px;
}

.views-container {
  list-style: none;
  margin: 0;
  display: flex;
  width: 160px;
  padding: 0;
}

.view-type {
  border: 2px solid transparent;
  box-sizing: border-box;
  min-width: 48px;
  height: 48px;
  border-radius: 4px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}


.view-type:not(:last-child) {
  margin-right: 8px;
}

.gallery-footer-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  align-items: center;
}

.catalog-filter-group {
  width: 220px;
  margin: 0 0 10px 0;
  padding: 0;
  border: none;
}

.catalog-filter-group:nth-child(2) {
  width: 320px;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 15px;
}

.catalog-filter-item {
  position: relative;
}

.price-container {
  width: 290px;
}

.filter-buttons-container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  flex-grow: 1;
  align-items: flex-end;
  justify-content: flex-end;
}

.sorting-select {
  padding: 12px 18px;
  font-size: 18px;
  line-height: 21px;
  font-family: "PT Sans", sans-serif;
  width: 290px;
  color: #333333;
  box-sizing: border-box;
  border: 2px solid #E5E5E5;
  margin-right: 78px;
  background-image: url("../images/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  appearance: none;
  background-size: 12px 8px;
  outline: none;
}

.sorting-select:hover {
  border: 2px solid #68A2CA;
}

.sorting-select:focus {
  border: 2px solid #68A2CA;
}

.catalog-view-select:hover {
  border: 2px solid #68A2CA;
}

.catalog-view-select:focus {
  border: 2px solid #68A2CA;
}

.sorting-select:active {
  border: 2px solid #3F5E72;
}

.catalog-view-select:active {
  border: 2px solid #3F5E72;
}

.sorting-select:disabled {
  border: 2px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}

.catalog-view-select:disabled {
  border: 2px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}

.catalog-parameters {
  display: flex;
  justify-content: space-between;
}

.newsletter-form {
  margin: 46px auto 0 auto;
  display: flex;
  max-width: 800px;
}

.pagination-current-link {
  color: #000000;
  background-color: #F2F2F2;
  border: 1px solid transparent;
}

.social-icon {
  fill: #83B3D3;
}

.footer-logo-icon {
  fill: #000000;
}

.view-icon {
  fill: #000000;
}

.footer-logo-icon:hover {
  fill: #756157;
}

.footer-logo-icon:focus {
  fill: #756157;
}

.navigation-icon:hover {
  fill: #756157;
}

.navigation-icon:focus {
  fill: #756157;
}

.footer-logo-icon:active {
  fill: rgba(117, 97, 87, 0.3);
}

.navigation-icon:active {
  fill: rgba(117, 97, 87, 0.3);
}

.footer-contacts-address-phone:hover {
  color: #756157;
}

.footer-contacts-address-phone:focus {
  color: #756157;
  outline: none;
}

.navigation-link:hover {
  color: #756157;
}

.navigation-link:focus {
  color: #756157;
  border: 3px solid #82B3D3;
  border-radius: 4px;
  outline: none;
}

.footer-contacts-address-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.navigation-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.social-icon:hover {
  fill: #68A2CA;
}

.social-icon:focus {
  fill: #68A2CA;
}

.social-icon:active {
  fill: rgba(104, 162, 202, 0.3);
}

.social-button:focus .social-icon {
  fill: #68A2CA;
  outline: none;
}

.social-button:focus {
  fill: #68A2CA;
  outline: none;
}

.button-display:hover {
  border: 2px solid #000000;
}

.button-display:focus {
  border: 2px solid #68A2CA;
}

.button-display:active {
  border: 2px solid #000000;
}

.page-header-button:hover {
  background-color: #615048;
}

.page-header-button:focus {
  background-color: #615048;
}

.more-details-button:hover {
  background-color: #615048;
}

.more-details-button:focus {
  background-color: #615048;
}

.search-button-link:hover {
  background-color: #615048;
}

.search-button-link:focus {
  background-color: #615048;
}

.newsletter-button:hover {
  background-color: #68A2CA;
}

.button-catalog-search:focus {
  background-color: #68A2CA;
}

.favorite-button:hover {
  background-color: #68A2CA;
}

.newsletter-button:focus {
  background-color: #68A2CA;
}

.button-catalog-search:hover {
  background-color: #68A2CA;
}

.favorite-button:focus {
  background-color: #68A2CA;
}

.favorite-button-selected:hover {
  background-color: #6C9E42;
}

.favorite-button-selected:focus {
  background-color: #6C9E42;
}

.page-header-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.more-details-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.search-button-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.newsletter-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-catalog-search:active {
  color: rgba(255, 255, 255, 0.3);
}

.favorite-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.favorite-button-selected:active {
  color: rgba(255, 255, 255, 0.3);
}

.page-header-button:disabled {
  color: #FFFFFF;
  background-color: #E5E5E5;
}

.more-details-button:disabled {
  color: #FFFFFF;
  background-color: #E5E5E5;
}

.search-button-link:disabled {
  color: #FFFFFF;
  background-color: #E5E5E5;
}

.newsletter-button:disabled {
  color: #FFFFFF;
  background-color: #E5E5E5;
}

.button-catalog-search:disabled {
  color: #FFFFFF;
  background-color: #E5E5E5;
}

.favorite-button:disabled {
  color: #FFFFFF;
  background-color: #E5E5E5;
}

.favorite-button-selected:disabled {
  color: #FFFFFF;
  background-color: #E5E5E5;
}

.button-cancel:disabled {
  color: #FFFFFF;
  background-color: #E5E5E5;
}

.button-display {
  padding: 12px 15px;
  border-radius: 4px;
  outline: none;
  border: 2px solid #e5e5e5;
}

.range {
  width: 288px;
}

.range-item {
  display: flex;
  width: 100%;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
  box-sizing: border-box;
}

.catalog-filter-label {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.range-input {
  width: 142px;
  font: inherit;
  background-color: transparent;
  border: none;
  appearance: none;
  color: #ffffff;
  text-align: start;
  padding: 14px 19px;
  cursor: pointer;
  flex-grow: 1;
  box-sizing: border-box;
  position: absolute;
  outline: none;
}

.range-item:first-of-type .range-input {
  border-right: 2px solid #ffffff;
}

.range-item:first-of-type .range-input:focus {
    content: "";
    position: absolute;
    width: 141px;
    height: 49px;
    box-sizing: border-box;
    box-shadow: 0 0 0 3px #81B3D2, inset 0 0 0 3px #81B3D2;
    border: 2px solid #ffffff;
    border-radius: 4px 0 0 4px;
}

.range-item:last-of-type .range-input:focus {
  content: "";
  position: absolute;
  width: 141px;
  height: 49px;
  box-sizing: border-box;
  box-shadow: 0 0 0 3px #81B3D2, inset 0 0 0 3px #81B3D2;
  border: 2px solid #ffffff;
  border-radius: 0 4px 4px 0;
}

.range-input:hover {
  opacity: 0.6;
}

.range-input:active {
  background-color: #756257;
}

.price-span {
  opacity: 0.3;
  padding: 12px 14px 15px 14px;
  position: relative;
  left: 100px;
}

.range-input::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-scale {
  position: relative;
  height: 4px;
  margin-top: 28px;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  width: 288px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
  width: 220px;
  opacity: 1;
  left: 10px;
}

.range-scale + .range-bar {
  opacity: 1;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus::after {
  content: "";
  height: 25px;
  width: 25px;
  left: -3px;
  top: -2px;
  position: absolute;
  box-sizing: border-box;
  border: 3px solid #83B3D3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.range-toggle:focus {
  outline: none;
}

.range-toggle:active::after {
  content: "";
  height: 23px;
  width: 23px;
  left: -1px;
  top: -1px;
  position: absolute;
  box-sizing: border-box;
  border: 2px solid #83B3D3;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  left: 210px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);;
}

.modal {
  position: relative;
  margin: auto;
  padding: 62px 70px 70px 68px;
  background-color: #ffffff;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-search {
  width: 715px;
  box-sizing: border-box;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 54px;
  right: 70px;
  width: 53px;
  height: 53px;
  background-color: #f2f2f2;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-close-button::before {
  content: "";
  width: 20px;
  height: 21px;
  position: absolute;
  background-image: url("../images/cross.svg");
  background-size: 21px 20px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;

}

.modal-close-button:hover {
  background-color: #e6e6e6;
  border: none;
}

.modal-close-button:focus {
  background-color: #e6e6e6;
  border: 3px solid #83B3D3;
}

.modal-close-button:active::before {
  opacity: 0.3;
}

.modal-close-button:active {
  background-color: #e6e6e6;
  border: none;
}

.modal-title {
  color: #000000;
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0 0 63px 0;
  text-transform: uppercase;
}

.field-group {
  display: flex;
  flex-direction: column;
}

.date-input-fields {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.date-input-fields:not(:first-child) {
  margin-top: 11px;
}

.search-input-count {
  padding: 0;
  background-color: #f2f2f2;
  border-radius: 4px;
  border: none;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  line-height: 21px;
  height: 50px;
  align-self: center;
}

.search-date {
  width: 420px;
  border: 3px solid transparent;
  background-image: url("../images/calendar.svg");
  background-position: 385px 18px;
  background-repeat: no-repeat;
  background-size: 15px 15px;
  padding: 12px 16px 11px 16px;
  background-color: #f2f2f2;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  line-height: 21px;
  cursor: pointer;
  outline: none;
}

.search-date:hover {
  background-color: #e6e6e6;
}

.count-input:hover {
  background-color: #e6e6e6;
}

.search-date:focus {
  background-color: #e6e6e6;
  border: 3px solid #83B3D3;
}

.count-input:focus {
  background-color: #e6e6e6;
  border: 3px solid #83B3D3;
}

.search-date:active {
  background: #FFFFFF;
  border: 3px solid #000000;
}

.count-input:active {
  background: #FFFFFF;
  border: 2px solid #000000;
}

.validation-error {
  font-size: 16px;
  line-height: 21px;
  color: #FF5757;
  margin: 0 0 0 157px;
  display: inline-block;
}

.validation-success {
  font-size: 16px;
  line-height: 21px;
  color: #333333;;
  margin: 9px 0 11px 157px;
  display: inline-block;
}

.human-count {
  width: 133px;
  display: flex;
}

.count-input::-webkit-outer-spin-button,
.count-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.count-input {
  font: inherit;
  background-color: transparent;
  appearance: none;
  color: #000000;
  text-align: center;
  width: 53px;
  box-sizing: border-box;
  border: 3px solid transparent;
  padding: 0;
  cursor: pointer;
  outline: none;
}

.human-count-button {
  border: 3px solid transparent;
  line-height: 13px;
  font-size: 13px;
  cursor: pointer;
  padding: 19px 17px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  height: 100%;
}

.human-count-button:hover {
  opacity: 1;
}

.human-count-button:focus {
  border: 3px solid #83B3D3;
  border-radius: 4px;
  opacity: 1;
  box-sizing: border-box;
  outline: none;
}

.human-count-button:active {
  opacity: 0.1;
}

.button-minus {
  background-image: url("../images/minus.svg");
  background-repeat: no-repeat;
  background-size: 13px 13px;
  background-position: 50%;
  opacity: 0.3;
}

.button-plus {
  background-image: url("../images/plus.svg");
  background-repeat: no-repeat;
  background-size: 13px 13px;
  background-position: 50%;
  opacity: 0.3;
}

.human-field-group {
  display: flex;
  justify-content: space-between;
  margin-top: 11px;
}

.human-field-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.human-field-item:nth-child(1) {
  width: 288px;
}

.human-field-item:nth-child(2) {
  width: 230px;
}

.search-form-button {
  background-color: #83B3D3;
  width: 100%;
  font-size: 20px;
  line-height: 36px;
  border: 3px solid transparent;
  padding: 9px 23px;
  margin-top: 40px;
  box-sizing: border-box;
}

.field-group-title {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  padding-left: 2px;
  box-sizing: border-box;
  max-width: 150px;
}

.modal-container-close {
  /*display: none;*/
}

.tooltip-toggle {
  border: none;
  background-color: #83B3D3;;
  padding: 0;
  margin: 0;
  display: block;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  color: #ffffff;
}

.tooltip-toggle:hover {
  background-color: #68A2CA;;
}

.tooltip-text {
  background-color: #333333;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  padding: 15px 18px 18px 22px;
  border-radius: 10px;
  width: 256px;
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  box-sizing: border-box;
  display: none;
}

.tooltip-text:before {
  content: "";
  position: absolute;
  width: 19px;
  height: 9px;
  left: 50%;
  top: -9px;
  transform: translateX(-50%);
  background-image: url("../images/tooltip-arrow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 19px 9px;
}

.tooltip-toggle:hover + .tooltip-text {
  display: block;
}

.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip {
  position: absolute;
  margin-top: 12px;
  margin-left: 55px;
}

.academy-link {
  display: inline-block;
}

.academy-link:focus .footer-logo-icon {
  fill: #756157;
  outline: none;
}

.search-form-button:hover {
  background-color: #68A2CA;
}

.search-form-button:focus {
  background-color: #68A2CA;
}

.search-form-button:active {
  background-color: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
}

.search-form-button:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}

.button-display-selected {
  border-color: #000000;
}

.raiting-container {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
